.sidebar-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0px 0px 10px 0px rgba(77, 77, 77, 0.2);
  z-index: 999;
}
.sidebar {
  width: 112px;
  height: 100vh;
}
.sidebar .ant-card-body {
  position: fixed;
  top: 15px;
  left: 0;
  width: 112px;
  bottom: 0;
  height: 100vh;
  overflow: scroll;

  z-index: 1000;
  text-align: center;
}
.sidebar .ant-card-body div {
  padding: 6px 15px;
  transition: all 0.1s ease;
  background: #ffffff;
}
.sidebar .ant-card-body div:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.1) translateX(3px);
  z-index: 999;
}
.sidebar div img {
  max-width: 100%;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
